<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>User Manager | Register</title>
        <link rel="shortcut icon" href="img/edit.png" type="image/x-icon" />
        <link rel="stylesheet" href="css/login.css" />
    </head>
    <body>
        <main>
            <form method="POST" action="/api/register" class="box">
                <h1>Register</h1>
                <div class="groups">
                    <div class="form-group">
                        <input type="text" id="name" name="name" required placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" id="email" name="email" placeholder="email" required />
                    </div>
                    <div class="form-group">
                        <input
                            type="text"
                            id="password"
                            name="password"
                            required
                            placeholder="password"
                        />
                    </div>
                </div>

                <button type="submit">Register</button>
                <a href="/login">Login</a>
            </form>
        </main>
    </body>
</html>
