<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Crud App</title>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <header id="header">
            <nav>
                <span>
                    <form action="/api/logout" method="POST">
                        <button type="submit">Logout</button>
                    </form>
                </span>
                <span>
                    <h1><%=userName%></h1>
                </span>
                <div class="container">
                    <div class="text-center">
                        <a href="/" class="nav-brand text-dark"
                            >User Management System</a
                        >
                    </div>
                </div>
            </nav>
        </header>

