<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>User Manager</title>
        <link rel="shortcut icon" href="img/edit.png" type="image/x-icon" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <header id="header">
            <nav>
                <span>
                    <form action="/api/logout" method="POST">
                        <button class="logoutSubmitButton" type="submit">
                            LOGOUT
                        </button>
                    </form>
                </span>
                <div class="container">
                    <div class="text-center">
                        <a href="/" class="nav-brand text-dark"
                            >User Management System</a
                        >
                    </div>
                </div>
                <span>
                    <h1 class="nameText"><%=userName%>'s Records</h1>
                </span>
            </nav>
        </header>
    </body>
</html>
